<div class="row my-2">
    <div class="card col" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/4041364/pexels-photo-4041364.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick examp.</p>
        </div>
    </div>
    <div class="card col" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/4041382/pexels-photo-4041382.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick examp.</p>
        </div>
    </div>
    <div class="card col" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/4041371/pexels-photo-4041371.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=loadn" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick examp.</p>
        </div>
    </div>
    
</div>